<!doctype html>
<html lang="en">

<head>
    <title>Products Display</title>
</head>

<body>
    {% include 'header.html' %}
    
    {% if error %}
        <p>{{ error }}</p>
    {% elif product %}
        <h1>Product with given id</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </table>
    {% elif products %}
        <h1>All products list</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No products found.</p>
    {% endif %}

    {% include 'footer.html' %}
</body>

</html>
